@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600&display=swap');

/* || RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

/* || VARIABLES */
:root {
  /* FONTS */
  --FF: 'Oswald', 'sans-serif';
  /* COLORS */
  --PRIMARYCOLOR: #D4A74E;
  --BGCOLOR: #313030;
  --BLACK: #000;
  --LIGHTTEXT: #F5F5F5;
  --LOGOUT-BTN: #E65440;
  --ERROR: firebrick;
  --VALID: limegreen;
  --LIGHTER-LINK: #0A70D6;
  /* MISC */
}

/* || UTILITY CLASSES */
.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: var(--VALID);
  margin-left: 0.25rem;
}

.invalid {
  color: var(--ERROR);
  margin-left: 0.25rem;
}

.errmsg {
  display: inline-block;
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.errmsg:any-link {
  color: var(--ERROR);
  text-decoration: underline;
}

.text-btn {
  padding: 0.5rem;
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.text-btn:is(:hover, :focus-visible) {
  transform: scale(1.2);
}

.icon-btn {
  padding: 0.25rem;;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-btn:is(:hover, :focus-visible) {
  transform: scale(1.2);
}

.modal {
  background-color: #FFF;
  z-index: 1000;
  position: absolute;
  transform: translate(-50%, -50%);
  border: transparent;
  border-radius: 10px;
  box-shadow: 1px 2px 3px 2px var(--BLACK);
}

/* || GENERAL STYLES */
body {
  min-height: 100vh;
  font-family: var(--FF);
  background-color: var(--BGCOLOR);
  display: flex;
  font-weight: 200;
}

#root {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Header, 
.Footer {
  background-color: var(--PRIMARYCOLOR);
  width: 100%;
}

.Header {
  position: sticky;
  top: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--BLACK);
}

.Footer {
  position: fixed;
  bottom: 0;
  text-align: center;
}

/* COMPONENTS */
/* HEADER */

.Header__responsive {
  display: flex;
  justify-content: space-between;
}

.Header__title {
  margin-left: 5rem;
}

.Header__title span {
  font-weight: 200;
}

.Header__title-link {
  text-decoration: none;
  color: var(--BLACK);
}

.Header__nav {
  margin-right: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.Header__nav-toggle-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Header__toggle-btn-icon,
.Header__toggle-btn-icon::before,
.Header__toggle-btn-icon::after {
  background-color: var(--BLACK);
  width: 40px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s;
}

.Header__toggle-btn-icon,
.Header__toggle-btn-icon::before,
.Header__toggle-btn-icon::after {
  content: "";
}

.Header__toggle-btn-icon::before {
  transform: translate(-20px, -12px);
}

.Header__toggle-btn-icon::after {
  transform: translate(-20px, 12px);
}

:is(.Header__nav-toggle-btn:active)
.Header__toggle-btn-icon {
  transform: rotate(720deg);
}

.nav__link,
.nav__link:visited {
  text-decoration: none;
  color: var(--LIGHTTEXT);
  font-size: 1.3rem;
}

.nav__link:hover{
  color: var(--BLACK);
  transition: color 500ms ease-in;
}

.nav__link:focus {
  color: var(--BLACK);
}

.Header__sign-out {
  color: var(--LIGHTTEXT);
  background-color: var(--LOGOUT-BTN);
}

/* HOME PAGE */

.Home {
  width: 100%;
  margin-bottom: 2rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Home__search-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__input {
  height: 40px;
  width: 40%;
  background-color: var(--BGCOLOR);
  font-weight: 200;
  border: none;
  border-bottom: 2px solid var(--LIGHTTEXT);
  color: var(--LIGHTTEXT);
}

.search-form__input:focus {
  outline: none;
}

.search-form__input::placeholder {
  color: var(--LIGHTTEXT);
  font-weight: lighter;
}

.search-form__label {
  color: var(--LIGHTTEXT);
  padding-top: 1rem;
}

.search-form__select {
  font-weight: 200;
}

/* PAGINATION */

.Pagination__btn-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: var(--LIGHTTEXT);
}

.Pagination__btn {
  padding: 0 0.5rem;
  background-color: var(--PRIMARYCOLOR)
}

/* COCKTAIL FEED */

.Feed {
  margin: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* COCKTAIL CARD */

.Cocktail {
  background-color: var(--PRIMARYCOLOR);
  color: var(--BLACK);
  border: 2px solid var(--BLACK);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Cocktail:hover {
  transform: scale(1.2);
}

.Cocktail__img {
  border: 2px groove var(--BLACK);
  border-radius: 50%;
  padding: 0.1rem;
}

.Cocktail__name {
  font-size: 1.25rem;
  font-weight: bolder;
}

/* ABOUT */

.About {
  margin: 1rem;
  color: var(--LIGHTTEXT);
}

.About__link {
  color: var(--PRIMARYCOLOR);
}

@media (max-width: 750px) {
  .Header__title {
    margin-left: 1rem;
  }
  
  .Header {
    display: block;
  }

  .Header__nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    transform-origin: top center;
    animation: showMenu .5s ease-in-out forwards;
  }

  @keyframes showMenu {
    0% {
      transform: scaleY(0);
    }
    80% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .nav__link {
    padding: .25rem;
    border-top: 1px solid var(--BLACK);
  }

  .Header__profile-link {
    margin-bottom: .25rem;
    border-bottom: 1px solid var(--BLACK);
  }

  .nav__link,
  .Header__sign-in,
  .Header__sign-out {
    width: 100%;
    text-align: center;
  }

  .search-form__input {
    width: 95%;
  }
}